div#nav-toggle {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding-top: 4rem;
  width: 4.8rem;
  background-color: white;
  border-right: 1px solid $black;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  z-index: 778;

  &:hover {
    background-color: $grey-regular;
  }

  &.active {
    transform: translateX(66.666vw);
  }
}

div#about-toggle {
  position: fixed;
  top: 0;
  left: 4.8rem;
  height: 100vh;
  width: 4.8rem;
  padding-top: 4rem;
  background-color: white;
  border-right: 1px solid $black;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  z-index: 666;

  &:hover {
    background-color: $grey-regular;
  }

  &.active {
    transform: translateX(66.666vw);
  }
}

section.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 66.666vw;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  z-index: 777;
  transform: translateX(-100%);

  &.active {
    transform: translateX(0%);
  }

  div.nav__container {
    width: 100%;
    height: 100%;
    padding: clamp(0.8rem, 3.2vw, 8rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    div.nav__titlewrapper {
      overflow: hidden;

      h4 {
        width: 100%;
        display: inline-block;
        transform: translateY(101%);
      }
    }

    div.nav__grid {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2.4rem;
      grid-column-gap: 1.6rem;

      figure {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

        img {
          transition: all 1.25s cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:hover {
          img {
            transform: scale(1.025);
            filter: contrast(105%);
          }
        }

        div.figure__wrapper {
          overflow: hidden;
        }

        figcaption {
          display: grid;
          grid-template-columns: 0.5fr 0.5fr 3fr;
          margin-top: 1.6rem;
        }
      }
    }
  }
}

section.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 66.666vw;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background-color: white;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  z-index: 666;
  transform: translateX(-100%);

  &.active {
    transform: translateX(4.8rem);
  }

  div.about__container {
    width: 100%;
    height: 100%;
    padding: clamp(0.8rem, 3.2vw, 8rem);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    div.intro-text {
      &__wrapper {
        height: 100%;
        overflow: hidden;
      }

      p {
        margin-bottom: 1.6rem;

        span {
          &.intro-text__large {
            display: block;
            margin-bottom: 4rem;
          }

          &.intro-text__title {
            display: block;
            margin-bottom: 0.8rem;
            margin-top: 1.6rem;
          }
        }
      }
    }

    div.intro-portrait {
      width: 75%;
      margin-top: 4rem;

      figure {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

        figcaption {
          p {
            margin-top: 1.6rem;
          }
        }
      }
    }

    div.intro-contact {
      padding-top: 6.4rem;

      &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 4rem;
      }

      div.intro-contact__row {
        padding-bottom: 2.4rem;

        & a {
          display: inline-block;
        }
      }
    }
  }
}

div.dimmed {
  background-color: $black;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  div#nav-toggle {
    height: 4rem;
    padding: 0.8rem;
    width: 100%;
    left: 0;
    border-right: none;
    border-bottom: 1px solid $black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 888;

    &.active {
      transform: translateY(0);
    }
  }

  div#about-toggle {
    top: 4rem;
    left: 0;
    height: 4rem;
    width: 100%;
    padding: 0.8rem;
    border-right: none;
    border-bottom: 1px solid $black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 888;

    &.active {
      transform: translateY(0);
    }
  }

  section.nav {
    padding: clamp(1.6rem, 1.8vw, 4rem);
    width: 100vw;
    height: -webkit-fill-available;

    z-index: 777;
    transform: translateY(-100%);

    &.active {
      transform: translateY(8rem);
    }

    div.nav__titlewrapper {
      height: auto;
    }

    div.nav__grid {
      margin-top: 2.4rem;
    }
  }

  section.about {
    width: 100vw;
    height: -webkit-fill-available;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

    z-index: 666;
    transform: translateY(-100%);

    &.active {
      transform: translateY(8rem);
    }

    div.about__container {
      div.intro-portrait {
        width: 100%;
        margin-top: 2.4rem;

        figure {
          width: 75%;

          figcaption {
            p {
              margin-top: 0.8rem;
            }
          }
        }
      }

      div.intro-contact {
        padding-top: 4rem;
        margin-bottom: 6.4rem;

        &__grid {
          padding-top: 2.4rem;
        }

        div.intro-contact__row {
          padding-bottom: 2.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  section.about {
    div.about {
      &__container {
        div.intro {
          &-contact {
            &__grid {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}
