body {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.011em;
}

div#nav-toggle {
  p {
    font-size: 1.424rem;
    line-height: 1;
    color: $black;
    transform: rotate(90deg);
    text-transform: uppercase;
    pointer-events: none;
  }
}

div#about-toggle {
  p {
    font-size: 1.424rem;
    line-height: 1;
    color: $black;
    transform: rotate(90deg);
    text-transform: uppercase;
  }
}

section.nav {
  h4 {
    &.title {
      font-size: 2.281rem;
      line-height: 1;
      letter-spacing: -0.011em;
      color: $black;
      text-transform: uppercase;
    }
  }

  figure {
    figcaption {
      p {
        font-size: 1.125rem;
        letter-spacing: 0.025rem;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}

section.about {
  div.about__container {
    p {
      font-size: clamp(1.802rem, 1.602vw, 3.247rem);
      letter-spacing: -0.011em;
      line-height: 1.35;
      color: $black;
    }

    div.intro-portrait {
      figure {
        figcaption {
          p {
            font-size: 1.125rem;
            letter-spacing: -0.011em;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.025rem;
          }
        }
      }
    }

    div.intro-contact {
      p {
        &.intro-contact__headline {
          font-size: clamp(1.802rem, 1.424vw, 2.566rem);
          letter-spacing: -0.011em;
        }
      }

      div.intro-contact__row {
        p {
          font-size: clamp(1.802rem, 1.424vw, 2.566rem);
          letter-spacing: -0.011em;
        }

        a {
          font-size: clamp(1.802rem, 1.424vw, 2.566rem);
          letter-spacing: -0.011em;
          color: $black;

          &:hover {
            text-decoration: none;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

section.home-hero {
  div.home-content {
    &__copy {
      max-width: 66.666%;

      h2 {
        font-size: clamp(1.802rem, 4vw, 9.373rem);
        font-weight: 300;
        letter-spacing: -0.011em;
        text-transform: uppercase;
        color: $black;

        span {
          &.static {
            display: block;
          }

          &.flexible {
            letter-spacing: -0.022em;
          }
        }
      }

      p {
        font-size: clamp(1.424rem, 1.6vw, 2.887rem);
        letter-spacing: -0.011em;
        margin-top: clamp(1.6rem, 2.4vw, 6.4rem);
      }
    }
  }
}

section.capabilities {
  div.capabilities {
    &__headline {
      h5 {
        color: $black;
        font-size: clamp(1.266rem, 1.25vw, 1.424rem);
        font-weight: 500;
        letter-spacing: 0.02rem;
        // opacity: 0.7;
        text-transform: uppercase;
      }
    }

    &__row {
      p {
        position: relative;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        color: $black;
        font-size: clamp(1.802rem, 2.4vw, 9.373rem);
        line-height: 168%;
        font-weight: 300;
        letter-spacing: -0.011em;

        span {
          position: absolute;
          left: -3.2rem;
          top: 27%;
          right: auto;
          bottom: auto;
          font-size: 1.2rem;
          line-height: 100%;
          font-weight: 400;
          letter-spacing: -0.011em;
          text-transform: uppercase;
        }
      }
    }
  }
}

section.featured {
  div.featured {
    &__headline {
      h5 {
        color: $black;
        font-size: clamp(1.266rem, 1.25vw, 1.424rem);
        font-weight: 500;
        letter-spacing: 0.02rem;
        // opacity: 0.7;
        text-transform: uppercase;
      }
    }

    &__case {
      &__img {
        &__hover {
          color: $black;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.15;
          letter-spacing: 0.011em;
          text-transform: uppercase;
          text-align: center;
        }
      }

      &__content {
        h2 {
          font-size: clamp(1.802rem, 2.4vw, 9.373rem);
          line-height: 1.25;
          font-weight: 300;
          letter-spacing: -0.011em;
          color: white;
          text-align: center;
        }

        p {
          color: white;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.15;
          letter-spacing: 0.011em;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}

section.clients {
  div.clients__headline {
    h5 {
      color: $black;
      font-size: clamp(1.266rem, 1.25vw, 1.424rem);
      font-weight: 500;
      letter-spacing: 0.02rem;
      // opacity: 0.7;
      text-transform: uppercase;
    }
  }

  div.clients {
    &__left {
      &__copy {
        p {
          font-size: clamp(1.602rem, 1.6vw, 2.027rem);
          letter-spacing: -0.011em;
          line-height: 1.35;
        }
      }
    }
  }
}

section.signup {
  div.signup__headline {
    h5 {
      color: $black;
      font-size: clamp(1.266rem, 1.25vw, 1.424rem);
      font-weight: 500;
      letter-spacing: 0.02rem;
      // opacity: 0.7;
      text-transform: uppercase;
    }
  }

  div.signup__form {
    h2 {
      font-size: clamp(1.802rem, 2.7vw, 4.624rem);
      letter-spacing: -0.022em;
      font-weight: 300;
      text-align: center;
    }

    p {
      font-size: clamp(1.602rem, 1.6vw, 2.027rem);
      letter-spacing: -0.011em;
      line-height: 1.35;
      text-align: center;
    }

    form {
      input {
        font-size: clamp(1.602rem, 1.6vw, 2.027rem);
        letter-spacing: -0.011em;
      }
    }
  }
}

section.case-hero {
  div.case-hero {
    &__left {
      &__link {
        a {
          text-decoration: none;
          color: $black;
          font-size: clamp(1.266rem, 1vw, 1.602rem);
          letter-spacing: -0.011em;
        }
      }

      &__headline {
        h1 {
          font-size: clamp(1.802rem, 3vw, 7.406rem);
          font-weight: 300;
          line-height: 1.125;
          letter-spacing: -0.011em;
          color: $black;
        }
      }

      &__label {
        p {
          font-size: 1.266rem;
          letter-spacing: -0.011em;
          font-weight: 500;
          text-transform: uppercase;

          &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: $black;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
            display: inline-block;
          }
        }
      }

      &__copy {
        p {
          font-size: clamp(1.602rem, 1.25vw, 2.027rem);
          letter-spacing: -0.011em;
          line-height: 1.35;
        }
      }
    }
  }
}

section.quote {
  div.quote {
    &__wrapper {
      h3 {
        font-size: clamp(2.281rem, 2vw, 4.624rem);
        font-weight: 300;
        line-height: 1.125;
        letter-spacing: -0.011em;
        text-align: center;
      }
    }

    &__info {
      p {
        text-align: center;
      }
    }
  }
}

section.case-content {
  div.case-content {
    &__container {
      &__copy {
        p {
          font-size: clamp(1.602rem, 1.25vw, 2.027rem);
          letter-spacing: -0.011em;
          line-height: 1.35;
        }

        h2 {
          font-size: clamp(1.802rem, 3vw, 7.406rem);
          font-weight: 300;
          line-height: 1.125;
          letter-spacing: -0.011em;
        }
      }
    }
  }
}

section.page-header {
  div.page-header {
    &__content {
      div.imprint {
        &-credits {
          &__col {
            p {
              font-size: clamp(2.027rem, 1.8vw, 4.624rem);
              letter-spacing: -0.025em;
            }
          }
        }
        &-disclaimer {
          &__row {
            p {
              font-size: clamp(1.424rem, 1.8vw, 2.887rem);
              line-height: 1.15;
              letter-spacing: -0.011em;

              a {
                color: $black;

                &:hover {
                  text-decoration: none;
                  color: $black;
                }
              }
            }

            h5 {
              font-size: clamp(2.027rem, 1.8vw, 4.624rem);
              letter-spacing: -0.025em;
            }

            h6 {
              font-size: clamp(1.602rem, 1.25vw, 2.887rem);
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;

  div.footer {
    &__top {
      h6 {
        font-size: clamp(1.266rem, 1.25vw, 1.602rem);
        letter-spacing: -0.011em;
      }
    }

    &__paragraph {
      p {
        font-size: clamp(2.566rem, 4vw, 9.373rem);
        line-height: 1.075;
        letter-spacing: -0.011em;
        font-weight: 300;
      }
    }

    &__links {
      a {
        text-decoration: none;
        font-size: clamp(1.802rem, 2.7vw, 4.624rem);
        letter-spacing: -0.011em;
        font-weight: 300;
        color: $grey-regular;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.4;
        }
      }
    }

    &__bottom {
      p {
        font-size: clamp(1.125rem, 1.15vw, 1.266rem);
        letter-spacing: -0.011em;
        text-transform: uppercase;
      }

      h6 {
        font-size: clamp(1.125rem, 1.15vw, 1.266rem);
        letter-spacing: -0.011em;
        text-transform: uppercase;
      }

      a {
        font-size: clamp(1.125rem, 1.15vw, 1.266rem);
        letter-spacing: -0.011em;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-regular;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  div#nav-toggle {
    p {
      font-size: 1.266rem;
      transform: rotate(0);
    }
  }

  div#about-toggle {
    p {
      font-size: 1.266rem;
      transform: rotate(0);
    }
  }
}

@media only screen and (max-width: 540px) {
  section.home-hero {
    div.home {
      &-content {
        &__copy {
          h2,
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
